p {
  padding: 20px;
  border: 1px solid black;
  width: 100px;
  /*  creamos un borde   con border*/
  /* con padding creamos espacio entre limite caja y txt*/
  /* margin  creamos espacios entre dos cajas*/
}

/*content-box sumatorio de   los px seleccionados + wigth and heigth*/
.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}
/*border-box anañe en los 200px.  el tamaño del texto,  border, padding, margin*/
/*los ÇOptimo es escoger BORDER-BOX*/
