p,
span {
  border: 2px solid black;
}

/*los elementos en linea no respetan widht y heidth, ni respetan los padinggs ni  margenes verticales pero si los horizontales*/
/*los elemtos en bloque si respetan  las 4 direcciones*/
p {
  display: inline;
  width: 200px;
  height: 200px;
  padding: 0px 20px;
}
span {
  display: block;
  width: 200px;
  height: 200px;
  padding: 20px 20px 30px 20px;
}
/*si ponemos en el padding dos valores,  el primero es vertical y el segundo horizontal.
/*si ponemos 4 valores son arriba, derecha, abajo, izda: sentido agujas del reloj*/

a {
  display: block;
  padding: 16px 25px;
  background-color: blue;
  color: yellow;
  width: 100px;
  text-align: center;
}
/* como  a es un elemento de linea,  se convierte el block para poder darle  margenes, anchura, etc....*/
/* display :inline-block; elemento ocupa lo que necesita como elemento en linea, pero  tienen todas la caracteristicas de  elemento en bloque*/
/*usaremos inline-block para ocupar lo que necesitemos sin queree dar un width,  y poder darle paddings, margenes etc*/
