.underline {
  text-decoration: underline 2px red;
}

.overline {
  text-decoration: overline 2px red;
}

.line-through {
  text-decoration: line-through 2px red;
}
.mix {
  text-decoration: underline overline 2px red;
}
