/*importar fuentes*/
/*entrar en google fonts y sleeccionar el tipo de fuente, caracteristicas*/
/*seleccionamos  las fuentes y le damos a importar, nos sale  el estilo  de todas las  fuentes que hemos usado*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
/* en la págima tb  pone como  integrar   la fuente en cada elemento*/
/*  es mejor introducir  la fuente al body,   nunca en el reset, ni en el *, la herencia es lo que menos valor tiene, asi que es mas modificable*/
/* tb se puede descargar la fuente*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* siempre hay que poner  una secuencia de  fuentes llamada  "font back"*/
section.serif {
  font-family: "Roboto Slab", serif;
}
section.sans-serif {
  font-family: sans-serif;
}

/* si la fuente tiene espacios hay que ponerla entre " */
/* para poner una fuente descargada
1 descargar la fuente requerida
2 crear una carpeta fonts
3 introducir @font-face { 
    font-family " nombre de la fuente"; 
    src("ruta al fichero de la fuente"); 
    format("truetype"); } */
/* ../ salir del fichero /fichero/nombre de letra.ttf */

/*SELECCCIONAR LOS GROSORES DE   LAS FUENTES QUE HEMOS DESCARGADO*/
/* importar cada fuente que queremos descargar... es  muy engorroso*/
/* 1 en la carpeta de  fuente se meten todos los ficheros*/
/* 2 poner la url correcta en  .css/
/* importar varios font-face con cada  typo*/
/* LO OPTIMO*/
/* poner el mismo nombre  a todos los tipos de letras*/
/* se especifica   el grosor con un font-weight: 100-900 */
/*font-family nombre de la  fuente*/
/*font-weight tamaño del texto */
/*font-style estilo especial de  la fuente... italic etc...*/
