* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  width: 200px yellow;

  margin-top: 30px;
}
main {
  border: 2px;
  background-color: blueviolet;
}
header {
  color: yellow;
  background-color: green;
}
/* al crear un border   en cualquier elemento  se puede descolapsar los márgenes*/
/* colapsing cuando un padre y un hijo estan superpuestos, entonces al darle el margen al hijo,  se superpone por encima y modifica todo el bloque padre-hijo*/
/* puede colapsar tanto por encima  como por debajo,  en este caso habria que darle un  padding a box superior  en lugar de un margen  en el box inferior*/
/* colapso superior o inferior se hace un padding  padre*/
/* tb exisitiria la posibilidad de crear un border al padre  por la zona de colapso*/
/* colapso entre hermanos* al darle un  margen   a los hermanos estas dando la separacion real que existe,  es deicr 40 de margen  entre  1 y 2,  si pones 2-1 de 10 px, aplicaria la  máxima*/
/* 1----2*/ /*la distancia real seria esta*/
/* 2-   1*/
