h1 {
  color: green;
}
main > section h2 {
  color: blueviolet;
}
/*especificidad:

etiqueta=1
clase/pseudoclase =10
id=100 */

h1 {
} /*1 punto*/

body main section h2 {
} /*4puntos*/

.green {
} /*10p*/

main section h2 {
  color: brown !important;
} /*prioridad abpoluta*/
/*poner important es una mala practica, por que estás haciendo los selectores  mal,
debes  especificar mas los selectores*/
