li[data-name] {
  text-decoration: underline red;
}

li:nth-child(2):hover {
  background-color: yellow;
}

.emoji::after {
  content: "😂";
}

li:last-child::first-letter {
  color: orange;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}
